*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    padding: 40px 0;
}
header{
    background: #EFF2F4;
    text-align: right;
}

header span{
    display: inline-block;
    margin: 0 5px;
}

header .fa-twitter{
    background: #3C5998;
    padding: 10px;
    color: #fff;
}


#hero_section{
    background-image: url("../img/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 180px 0;
}

.hero_content{
    text-align: center;
    color: white;
    padding: 50px 0;
}

.section_heading{
    text-align: center;
    margin-bottom: 30px;
}

.card_box{
    text-align: center;
}
.card_box img{
    margin-bottom: 15px;
}

.bg_light{
    background: #fff;
}
#approch_section{
    background: #F3F3F3;
}

.content{
    padding: 80px 60px;
}

.img_section{
    position:relative;
}
.side_content{
    width: 100px;
    height: 100px;
    background-color: #DE2B24;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: absolute;
    right: -10%;
    top: 30%;
}

.side_content.another{
    left: -10%!important;
    top: 30%;
}

.gallery{
    background: #DE2B24;
    color: #fff;
}

.bg_pink{
    background: #F35E59;
    text-align: center;
}

.gallery_content{
    padding-top: 70px;
}

.getInTouch{
    background: #1287BF;
    color: #fff;
}

.main_form{
    width: 60%;
    margin: 0 auto;
    padding: 40px;
    background: #fff;
    color: #111;
}

.contact_icon{
    padding: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    line-height: 1;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer{
    background: #2A2A2A;
    color: #fff;
}

.footer ul {
    list-style: none;
  
}
.footer ul li{
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid #fff;
    margin: 5px; 
}

.footer ul li a{
    color: #fff;
    padding: 6px;
    display: inline-block;
}
.footer form{
    width: 50%;
    margin: 0 auto;
}
.footer form input{
    background: transparent!important;
    margin-bottom: 10px;
}

footer{
    text-align: center;
    padding: 15px 0;
    color: #fff;
    background: #515151;
}